
body {
    background-color: #ffddfd;
}


h2 {
    font-family: Pristina, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

p {
    font-family: Gabriola, serif;
    font-size: 22px;
    line-height: 1.5;
    color: #666;
}

a {
    color: #8b00de;
    text-decoration: none;
    font-family: Gabriola, sans-serif; 
    font-size: 22px;
    font-weight: bold; 
}

    a:hover {
        color: #6ebb3e; 
        text-decoration: underline; 
    }
